.swiper-container {
    width: 100%;
    height: 400px;
    background-color: #474b4f;
    color: white;
    font-family: 'coolvetica';
    letter-spacing: 2px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-color: #474b4f;
    font-size: 2.5rem!important;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-pagination-bullet-active {
      background-color: #6b6e70;
  }
