ul, li {
    list-style: none;
    margin: 0;
    padding: 15px;
}
nav ul {
    display: flex;
    margin: auto;
    justify-content: center;
    background: black;
}
nav ul li {
    background: black;
    color: white;
}
nav a {
    color: white;
    text-decoration: none;
}

.bgimg {
    height: 250px;
    background : url('../../assets/imgs/multi.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}
