@font-face {
  font-family: "Duck";
  src: local("Duck"),
   url("./fonts/duck/Ducks.ttf") format("truetype");
  }

  @font-face {
    font-family: "coolvetica";
    src: local("coolvetica"),
     url("./fonts/coolvetica/coolvetica.ttf") format("truetype");
    }
    @font-face {
      font-family: "Timeless";
      src: local("timeless"),
       url("./fonts/timeless/Timeless.ttf") format("truetype");
      }

body {
  background: #222629;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
