.getstarted {
    background-color: #222629;
    color: white;
    padding: 25px;
    font-family: 'Lemon'!important;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
}
.getstarted a:visited {
    color: white!important;
}
.section-title {
    text-transform: uppercase;
    font-size: 1.3rem;
}
.getstarted-body {
    font-family: "Lemon";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    background-color: white;
    padding: 20px 0;
}
.getstarted-body > div {
    width: 100%;
}
.gets-left, .gets-right {
    display: flex;
    justify-content: center;
}
.gets-right {
    color: #222629;
    display: flex;
}
.getstarted-body ul {
    list-style: none!important;
    margin: auto;
    padding: 0;
    display:flex;
}
ul li {
    margin: 15px 50px;
}
.free-acc {
    background: #222629;
    color: white;
    /* border-radius: 50%; */
    /* width: 170px; */
    /* height: 170px; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 30px;
}
.free-acc b {
    margin: 0 5px;
}

@media screen and (max-width: 500px) {
    .getstarted-body ul {
        list-style: none!important;
        margin: auto;
        padding: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}